body {
  font-family: sans-serif;
  margin: 2rem;
  background: #f9f9f9;
  color: #333;
}

#output {
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
}
